{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block title %} Add Branch Admin {% endblock %}


{% block content %}

<div class="row col-6 mx-auto m-5">
<h1>Add Branch Admin</h1><br><br>

    <form action="" method="POST">

        {% csrf_token %}
        {{form|crispy}}
        <!-- <input type="text" class="form-control" value="{{request.user.agency}}" disabled >
        <br><br> -->
        <div class="d-md-flex justify-content-md-end">
            <button type="submit" class="btn"  id="buttonad">Submit</button>
        </div>
    </form>
</div>




{% endblock %}